body{
    background-color: #919fc4;
    font-family: Arial, Helvetica, sans-serif;
    color: #404e6f;
}

h1, h2, h3{
    color: #2a3449;
}

.global{
    overflow: auto;
}

.left{
    float: left;
    width: 90%;
}

.right{
    overflow: auto;
}

/* Haut de page */

.HP{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background-color:#e8d272;
    padding: 20px 0;
    margin: 0px 189px;
    border: 1px solid black;
}



/* Tableau */

.ajoutUtilisateur{
    position: absolute;
    top: 0;
    right: 0;
    margin: 80px 40px;
}

table{
    border-collapse: collapse;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
    color: #595959;
    border-radius: 10px;
    margin: 10px auto;
    table-layout: fixed;
}

td{
    padding: 1% 1% 1% 1%;
    text-align: center;
}

tr{
    padding: 0;
}

th{
    padding: 1% 1% 1% 1px;
    text-align: center;
}

/* tr dans le head et foot du tableau */

.trHF{
    background-color: #302e2e !important;
    color: white !important;
}

/* pour changer de couleur une ligne sur deux */

tr:nth-child(2n+1):hover, tr:nth-child(2n):hover{
    background-color: #e2e2e2;
}

tr:nth-child(2n+1){
    background-color: white;
}

tr:nth-child(2n){
    background-color: #f0f0f0;
}


/* Tableau releve */


.tableReleve{
    table-layout: fixed;
}


/* Tableau details utilisateur */


.tableDU{
    border-collapse: collapse;
    width: 70%;
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
    color: #595959;
    border-radius: 0 0 10px 10px;
    margin: 10px auto;
    table-layout: fixed;
}

.captionDU{
    text-align: left;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid black;
    border-bottom-width: 5px;
    border-radius: 10px 10px 0 0;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.buttonDU{
    text-align: right;
}

.fontDU{
    font-weight: bold;
}

.tableDU td{
    text-align: left;
}

.imgCaptionDU{
    margin: 15px 30px;
}

.imgTabDU{
    margin: 4px 0 0 0;
}



/* Formulaire */



form:not(#recherche){
    margin: 5% auto;
    width: 850px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    background: linear-gradient(#a4e2fa, #8ec7de);
    font-weight: 700;
}

.centre{
    margin: 1px 1px;
    padding: 1px;
    text-align: center;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.case{
    border-radius: 4px;
    border: 1px solid;
    border-color: #2a3449;
    height: 20px;
}

.border{
    border-bottom: 2px solid;
    border-color: #2a3449;
}

label span{
    display: inline-block;
    width: 120px;
    text-align: left;
}


/* Ajout utilisateur */


.leftUtil{
    float: left;
    margin: 0 20px 0 0;
}

.rightUtil{
    float: left;
    margin: 0 20px;
}


/* Formulaire connexion */


.titre{
    /* border: 1px solid; */
    text-align: center;
    font-size: 35px;
}

.smallForm{
    margin: 15% auto;
    width: 350px;
    background: linear-gradient(#a4e2fa, #8ec7de);
    font-weight: 700;
}

input[name="login"]{
    background-image: url("img/user.png");
    background-position-y: 2px;
    background-position-x: 2px;
    padding-left: 25px;
    background-repeat: no-repeat;
}

input[type=password]{
    background-image: url("img/password.png");
    background-position-y: 1px;
    background-position-x: 1px;
    padding-left: 25px;
    background-repeat: no-repeat;
}

.loginButton{
    background: rgb(0, 162, 255);
    color: white;
    display: block;
    line-height: 30px;
    text-align: center;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 15px;
}

.loginButton:hover{
    background: rgb(0, 126, 199);
}



/* Barre de navigation */



.navBar{
    position: fixed;
    top: 30%;
    z-index: 1000;
}

.navBar li{
    list-style: none;
    height: 39px;
    padding: 2px;
    width: 40px;
}

.navBar span{
    width: 0;
    left: 38px;
    padding: 0;
    position: absolute;
    overflow: hidden;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.6px;
    white-space: nowrap;
    line-height: 39px;
    transition: 0.25s;
}

.navBar a{
    height: 39px;
    width: 38px;
    display: block;
    position: relative;
}

.navBar a:hover span{
    width: auto; padding: 0 20px; overflow: visible;
}

.navBar a:hover{
    text-decoration: none;
    box-shadow: 0 0 5px #9ddff5;
}


/* Bouton home */


.navBar .home{
    background:#ecf0f1 url('img/home.png') no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
    width: 38px;
}


.navBar .home:hover{
    background: #f0f3f4 url('img/home.png') no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
    width: 38px;
}

.navBar .home span{
    background-color:#ecf0f1;
    color:#7b7d7d;
}


/* Bouton releves */


.navBar .releves{
    background:#f1c40f url('img/releve.png') no-repeat;
    background-position-x: 4px;
    background-position-y: 3px;
    width: 38px;
}

.navBar .releves:hover{
    background:#f4d03f  url('img/releve.png') no-repeat;
    background-position-x: 4px;
    background-position-y: 3px;
    width: 38px;
}

.navBar .releves span{
    background-color:#f1c40f;
    color:#7d6608 ;
}


/* Bouton rapports */


.navBar .rapports{ 
    background:#3498db url('img/rapport.png') no-repeat;
    background-position-x: 4px;
    background-position-y: 3px;
    width: 38px;
}

.navBar .rapports:hover {
    background:#5dade2 url('img/rapport.png') no-repeat;
    background-position-x: 4px;
    background-position-y: 3px;
    width: 38px;
}

.navBar .rapports span{
    background-color:#3498db;
    color:#1b4f72;
}


/* Bouton deconnexion */


.navBar .deconnexion{ 
    background:#e74c3c url('img/logout.png') no-repeat;
    background-position-x: 4px;
    background-position-y: 3px;
    width: 38px;
}

.navBar .deconnexion:hover {
    background:#ec7063 url('img/logout.png') no-repeat;
    background-position-x: 4px;
    background-position-y: 3px;
    width: 38px;
}

.navBar .deconnexion span{
    background-color:#cb4335;
    color:#641e16;
}



/* Barre de recherche */



.recherche{
    position:relative;
    width:700px;
    margin: 20px auto 100px auto;
    height:60px;    
}

.recherche .text{
    font-size: 20px;
    font-weight: bold;
    width:300px;
    float:left;    
}

.recherche .champ{
    background: url('img/recherche.png') no-repeat 10px 9px #fff;
    border-width: 1px;
    border-style: solid;
    width:600px;
    height:35px;
    float:left;
    padding: 10px 15px 8px 35px;
}

.recherche .bouton{
    background: #6A6F75;
    height: 35px;
    width: 75px;
    padding: 0;
    margin: 0 3px;
    border:none;
    float:left;
    cursor: pointer;
    font: bold 12px Arial, Helvetica;
    color: #fff;
}
