body{
    background-color: #919fc4;
    font-family: Arial, Helvetica, sans-serif;
    color: #404e6f;
}

h1, h2, h3{
    color: #2a3449;
}



/* Tableau */



table{
    border-collapse: collapse;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
    color: #595959;
    border-radius: 10px;
    margin: 20px auto;
    table-layout: fixed;
}

.tableReleve{
    table-layout: fixed;
}

td{
    padding: 1% 1% 1% 1%;
    text-align: center;
}

tr{
    padding: 0;
}

th{
    padding: 1% 1% 1% 1px;
    text-align: center;
}

caption{
    background-color: #e8d272;
    font-weight: bold;
    font-size: 200%;
}

thead, tfoot{
    background-color: #302e2e;
    color: white;
}

.column1:hover, .column2:hover{
    background-color: #e2e2e2;
}

.column1{
    background-color: white;
}

.column2{
    background-color: #f0f0f0;
}



/* Formulaire */



form{
    margin: 5% auto;
    width: 850px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    background: linear-gradient(#a4e2fa, #8ec7de);
    font-weight: 700;
}

.centre{
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: left;
}

.center{
    float: left;
}

.case{
    border-radius: 4px;
    border: 1px solid;
    border-color: #2a3449;
    height: 20px;
}

.border{
    border-bottom: 2px solid;
    border-color: #2a3449;
}

label span{
    display: inline-block;
    width: 120px;
    text-align: left;
}



/* Barre de navigation */



.navBar li{
    list-style: none;
    height: 39px;
    padding: 2px;
    width: 40px;
}

.navBar span{
    width: 0;
    left: 38px;
    padding: 0;
    position: absolute;
    overflow: hidden;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.6px;
    white-space: nowrap;
    line-height: 39px;
    transition: 0.25s;
}

.navBar a{
    background:url('img/navigation.jpg') no-repeat;
    height: 39px;
    width: 38px;
    display: block;
    position: relative;
}

.navBar a:hover span{
    width: auto; padding: 0 20px; overflow: visible;
}

.navBar a:hover{
    text-decoration: none;
    box-shadow: 0 0 5px #9ddff5;
}


nav{
    position: sticky;
}

/* Bouton home */


.navBar .home{
    background-position: 0 0;
    /*background: url('img/maison.jpg') ;*/
}

.navBar .home:hover{
    background-position: 0px -39px;
}

.navBar .home span{
    background-color: #7da315;
    color: #3d4f0c;
    text-shadow: 1px 1px 0 #99bf31;
}


/* Bouton releves */


.navBar .releves{
    background-position: -38px 0;
    /*background: url('img/releves.jpg') ;*/
}

.navBar .releves:hover{
    background-position: -38px -39px;
}

.navBar .releves span{
    background-color:#1e8bb4;
    color:#223a44;
    text-shadow:1px 1px 0 #44a8d0;
}


/* Bouton rapports */


.navBar .rapports{ 
    background-position:-76px 0;
    /*background: url('img/rapports.jpg') ;*/
}

.navBar .rapports:hover {
     background-position:-76px -39px;
}

.navBar .rapports span{
    background-color:#c86c1f;
    color:#5a3517;
    text-shadow:1px 1px 0 #d28344;
}


/* Bouton deconnexion */


.navBar .deconnexion{ 
    background-position:-76px 0;
    /*background: url('img/rapports.jpg') ;*/
}

.navBar .deconnexion:hover {
     background-position:-76px -39px;
}

.navBar .deconnexion span{
    background-color:#c86c1f;
    color:#5a3517;
    text-shadow:1px 1px 0 #d28344;
}